server:
  port: 18088

spring:
  application:
    name: service-provider
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
    sentinel:
      transport:
        dashboard: 127.0.0.1:8080
management:
  endpoints:
    web:
      exposure:
        include: '*'